<div class="main-container">
  <div class="jumbotron mt-5">
    <p><span data-controller="typed-js"></span></p>
				<h2>
					Hello, world!
				</h2>
				<p>
					This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
				</p>


	</div>
	<div class="row">
		<div class="col-md-4">
    <div class="mx-3">
			<h2>
				I need coffee project
			</h2>
		<iframe width="320" height="240" src="https://www.youtube.com/embed/ak0afyMvTVk" title="I need Coffee" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
    </div>
		<div class="col-md-4">
			<h2>
				Heading
			</h2>
<iframe width="320" height="240" src="https://www.youtube.com/embed/ak0afyMvTVk" title="I need Coffee" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>

		<div class="col-md-4">
			<h2>
				Heading
			</h2>
<iframe width="320" height="240" src="https://www.youtube.com/embed/ak0afyMvTVk" title="I need Coffee" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>

    <div class="container col-6">
  <%= simple_form_for [@booking] do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
    <div class="form-input">
      <%= f.input :name, placeholder: "Name" %>
      <%= f.input :email, placeholder: "Email" %>
      <%= f.input :message, placeholder: "Leave me a message and I will be in touch shortly" %>
    </div>
    <div class="form-actions">
      <div class="d-grid gap-2">
        <%= f.submit "Send message", class: "btn btn-primary mb-5" %>
  <% end %>
</div>
	</div>

</div>

</div>
</div>
</div>
